/* Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* Garante que o conteúdo fique na vertical */
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px; /* Distância entre o título e o formulário */
    text-align: center;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #13034f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #13034f;
  }
  
  p {
    font-size: 14px;
    color: #f44336;
  }
  
  /* Mensagem de sucesso */
  .mensagem-sucesso {
    color: #4CAF50;
    font-size: 16px;
  }
  
  .mensagem-erro {
    color: #f44336;
    font-size: 16px;
  }
  